body{
	background-color: darkblue;
	color: White;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
}
body{
	margin: 150px;
}
h1{
  font-size: 100px;
  letter-spacing: .5px;
  margin-top: 0;
}
a {
  text-decoration: none; 
}
a:link {
  color: darkgray;
}
a:hover {
  color: darkred;
}