body{margin: 0;}
#p1 {background-color: seagreen;}
.p1-1{
	width:120px;
	height: 120px;
	background-color: black;
	float: left;
	transform: rotate(45deg);
	border:5px solid white;
}
.p1-2{
	width: 120px;
	height: 120px;
	background-color: darkred;
	float: left;
	transform: skew(40deg,30deg);
}
