margin: 50px;
}
body {
  background-color: darkred;
  font-family: 'Playfair Display', serif;
  color: #373F51; 
  margin: 50px;
  text-align: center;
}
header {
  width: 75vw;
  margin: 25px auto;
  padding: 0 25px;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
h1 {
  margin: 0;
  font-size: 4rem;
  text-align: left;
  font-style: italic;
  font-weight: 700;
}
h2 {
  margin: 25px 0 0px;
  font-size: 2rem;
  text-align: left;
  font-family: "altivo", sans-serif;
  font-weight: 700;
  font-style: italic;
}

