body{
	margin: 0;
}
.border{
	width:275px ;
	height: 400px;
	position:absolute;
	background-color: black;
	top: 100px;
	left: 400px;
	rotate: 90deg;
}
.screen{	
	width:175px ;
	height: 320px;
	position:relative;
	background-color: dimgrey;
	top: 128px;
	left: 450px;
	rotate: 90deg;
}
.neck{
	width:30px ;
	height: 25px;
	position:absolute;
	background-color: black;
	top: 430px;
	left: 520px;
}
.stand{
	width:5px ;
	height: 150px;
	position:absolute;
	background-color: black;
	top: 380px;
	left: 530px;
	rotate: 90deg;
}
.room{
	width: 1440px;
	height: 1000px;
	position: fixed;
	background-color: orangered;
}
.screen{
	background-color: beige;
	animation: color-shift 1s infinite;
}
.room{
	background-color:orangered;
	animation: color-shift 3s infinite;
}


@keyframes color-shift{
	0%{
		background-color: black;
	}
	50%{
		background-color: whitesmoke;
	}
	75%{
		background-color: indianred;
	}
	100%{
		background-color: whitesmoke;
}